*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: 
        url(../Assets/img/campFire-bordes.png) no-repeat;
    background-color: black;
    background-size: contain;

 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



/*HEADER*/
header{
    height: 10%;
    position: absolute; /* Cambia la posición a absoluta */
    width: 100%; /* Ajusta el ancho al 100% */
    top: 0;
    background: transparent; /* Establece el fondo del header como transparente */
    z-index: 1; /* Asegura que el header esté en la parte superior */
}

/*Menú por defecto*/
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;/*con respecto al eje principal, que es la fila(horizontal)*/
    align-items: center; /*con respecto al eje secundario, que es la columna(vartical)*/
    padding: 0px 20px; /* Ajusta el espacio desde los bordes derecho e izquierdo */
}

.navbar-menu {
    background: transparent; /* Hace que el fondo del navbar sea transparente */
}

#nav-links{
    display: flex;
    /*Ubicamos los li*/
    gap: 30px; /*defino el tamano de los huecos entre los items*/
    list-style: none;
}

#nav-links li{
    transition: transform 0.2s ease, filter 0.2s ease; /* Separar la transición para transform y filter */
    border-bottom: 1px solid transparent;

}

#nav-links li:hover{
    color: #ffffff; /* Cambia el color del ícono al pasar el ratón por encima */
    text-decoration: none; /* Elimina el subrayado del ícono al pasar el ratón por encima */
    transform: scale(1.05); /* Aumenta el tamaño del ícono */
    filter: brightness(10); /* Aumenta el brillo del ícono */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
    outline: 1px solid transparent; /* Agrega un contorno adicional */

}

#nav-links li a{
    text-decoration: none;
    color: rgb(223, 222, 222);
    font-family: "Bebas Neue", sans-serif;
    font-size: 130%;
    font-weight: 300; /* Ajusta el grosor de la fuente a 300 (más delgada) o a tu preferencia */
}

/*Menú desplegable (para mobile)*/

.menu-toggle, #menu-icon{
    display: none; /* Por defecto, oculta el botón del menú */
}


/*MAIN*/
main{
    width: 100%;
    flex: 1; /* Hace que el main ocupe el espacio disponible entre el header y el footer */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

.home-Title{
    padding: 15vh 0 10vh 0;

}

.home-Title a{
    display: inline-block;
    margin: 0;
    padding: 0;
    scale: 100%;
    filter: drop-shadow(10px 10px 20px rgba(145, 145, 145, 0.248)); /* Utiliza drop-shadow para aplicar el sombreado */
}

.home-Title a img{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 100%; /* Ajusta la anchura de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-width: 100%; /* Evita que la imagen se extienda más allá de su tamaño original */
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.372)); /* Utiliza drop-shadow para aplicar el sombreado */
    padding: 0;
    padding-bottom: 4vh;
    margin: 0;
}

.home-Title a img:hover{
    filter: brightness(3); /* Aumenta el brillo del ícono */
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) brightness(120%); /* Aplica un filtro de sombra suave y un filtro de brillo al ícono */

}


.quienes-somos-container{
    text-shadow: 0 0 5px rgba(72, 72, 72, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow( 0px 1px 3px  rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); 
    outline: 1px solid transparent;
    padding-top: 2.5vh; /*Se ve un poco más pegado al texto el borde superior, así que lo subí*/
    padding-bottom: 1.8vh;
    margin: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.quienes-somos{
    font-family: "Bebas Neue", sans-serif;
    font-size: 280%;
    font-weight: 10;
    color: #e1e1e1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw 0 10vw; /* Utilizando porcentajes para el relleno */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #bababa;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
}


#cuadricula{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.row-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start; /*Al estar los elementos puestos en fila, align-items y justify-content invierten sus funciones*/
    justify-content: flex-start;

    padding: 0;
    margin: 1vh 2vw;

}

.row-container:last-of-type{
    margin-bottom: 30vh;
}

.info-container {
    width: 75%; 
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 2vw;
}

.img img{
    height: 250px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-container h2 {
    padding: 0;
    margin: 1vh 0;
    color: #dfdede; /* Color de título personalizado */
    font-family: 'Oswald';
    font-size: 20pt;
    font-weight: 500;
    line-height: 1.2;
}

.info-container h3{
    font-family: "Oswald";
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.2;
}

.img img:hover, .info-container h2:hover, .info-container h3:hover{
    transform: scale(1.04); /* Aumenta el tamaño del ícono */
    filter: brightness(1.5); /* Aumenta el brillo del ícono */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
}

/* FOOTER */
footer{
    background-color: black;
    color: white;
}

.footerPresentation {
    background-color: black;
    padding: 2vh 20vw;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); 
    outline: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: Bebas Neue;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.footerContainer img{
    max-width: 100px;
}
.linqsContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
}
.links{
    padding-top: 4px;
}
.links a{
    color: white;
}

.linksLatG{
    display: flex;
    top: 0%;
    bottom: 0%;
    right: 0%;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.linksLatG ul{
    display: flex;
    gap: 4px 16px;
    margin-top: 20px;
    margin-right: 16px;
    list-style: none;
}
.linksLatG ul li{
    text-align: center;
    padding: 4px 0;
}
.linksLatG li a{
    text-decoration: none;
    color: white;
}
.linksLatG ul li a i{
    font-size: 20px;
}
a:hover i {
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.2);
    filter: brightness(10);
}
.links a p:hover {
    transform: scale(1.1);
    transition-duration: 0s;
    filter: brightness(150%);
}


.footerPresentation p{
    font-size: 17px;
    margin-top: 4px;
    margin-left: 4px;
}
/* DEVELOPERS */
.devs{
    background-color: black;
    width: fit-content;
    padding: 8px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    text-align: center;
    color: #DFDED040;
    font-family: sans-serif !important;
}
.devs p{
    width: fit-content;
    margin: 0 auto;
}
.devs p:hover{
    color: white;
}
.devs a{
    color: #0000EE;
    font-weight: bold;
}
.devs a:hover{
    text-decoration: underline;
}
    

@media screen and (max-width: 900px) {

    *, *::before, *::after {
        max-width: 100vw; /*Con esto evitamos que se desborde el contenido*/
    }

    .menu-container {
        position: absolute;
        display: flex; /* Ajusta el diseño para dispositivos móviles */
        justify-content: space-between; /* Distribuye los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        padding: 10px; /* Ajusta el espacio alrededor del menú */
    }
    
    .menu-container::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(9, 9, 9, 0.215); /* Fondo semitransparente */
        backdrop-filter: blur(5px); /* Aplica un filtro de desenfoque */
        z-index: -1; /* Coloca el fondo borroso detrás del menú */
        pointer-events: none; /* Permite que los eventos pasen a través del pseudo-elemento */
        opacity: 0; /* Inicialmente oculta el fondo borroso */
        transition: opacity 0.3s ease; /* Agrega una transición suave para la opacidad */
    }
    
    .menu-container.active::before {
        opacity: 1; /* Muestra el fondo borroso cuando el menú está activo */
    }

    /* Agregar estilo para deshabilitar el scroll cuando el menú está activado */
    body.menu-open {
        overflow: hidden;
    }


    /* Overlay para el área del menú */
    .menu-toggle {
        display: inline-block;
        scale: 250%;
        position: absolute;
        cursor: pointer; /* Cambia el cursor a un puntero al pasar el ratón por encima */
        text-decoration: none;
        margin: 10vh 0 0 0;
        padding: 20% 100%;
        color: #dfdede;
        transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease; /* Agrega la propiedad box-shadow a la transición*/
        z-index: 1000; /* Asegura que el icono del menú esté en una capa superior */
    }

    .menu-toggle:hover {
        transform: scale(1.2); /* Aumenta el tamaño del ícono */
        filter: brightness(3); /* Aumenta el brillo del ícono */
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) brightness(120%); /* Aplica un filtro de sombra suave y un filtro de brillo al ícono */
    }

    #menu-icon{
        display: inline-block;
    }

    .navbar-menu {
        display: none; /* Por defecto, oculta el menú en dispositivos móviles */
        position: fixed;
        z-index: 1000; /* Asegura que el menú esté en una capa superior */
        top: 12%;
        left: 20px; /* Ajuste para que el menú esté pegado al borde izquierdo */
        background: transparent; /* Cambia el color de fondo del menú desplegable a transparente */
        width: 100%;
        padding: 0;
        margin: 0;
        transition: opacity 0.3s ease; /* Agrega una transición de opacidad */
        opacity: 0; /* Inicialmente establece la opacidad en 0 para ocultar el menú */
    }
    
    .navbar-menu.active {
        display: flex; /* Muestra el menú cuando la clase 'active' está presente */
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos del menú a la izquierda */
        opacity: 1; /* Hace que el menú sea visible al activar la clase 'active' */
        padding: 0;
        margin: 0;
    }
    
    
    /* Estilos para los ítems del menú */
    #nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0; /* Restablece cualquier margen previo */
    }
    
    #nav-links li {
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
        text-align: justify;
        border-bottom: 1px solid #dfdede; /* Línea divisoria entre elementos li */
        outline: 1px solid transparent; /* Agrega un contorno adicional */
        filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
        margin: -10px 0; /* Establece un margen vertical negativo */
        padding: 0 0 10px 0; /* Ajusta el padding */
        text-align: start;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

   

    #nav-links li:last-child {
        margin-bottom: -1px; /* Márgenes negativos para superponer la línea divisoria */

    }
    
    
    .navbar-menu.active #nav-links li {
        opacity: 1; /* Hace que los ítems sean visibles al activar la clase 'active' en el menú */
        transform: translateX(20px); /* Restaura la posición original de los ítems */
    }
    
    /* Animación de aparición de los ítems del menú */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #nav-links li a{
        font-size: 200%;
    }


    .row-container:last-of-type{
        margin-bottom: 10vh;
    }


    main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 11vh;
    }

    .home-Title a{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-Title a img{
        width: 80%; /* Ajusta la anchura de la imagen al 100% del contenedor */
        padding-bottom: 0;
    }

    .quienes-somos-container{
        width: 75%;
    }
    
    .quienes-somos{
        font-family: "Bebas Neue", sans-serif;
        font-size: 200%;
        font-weight: 10;
        color: #e1e1e1;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
        text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
    }

    .info {
        padding: 10vh 15vw; 
    }

    .row-container{
        display: flex;
        flex-direction: row;
        align-items: center; /*Al estar los elementos puestos en fila, align-items y justify-content invierten sus funciones*/
        justify-content: center;
    
        padding: 0;
        margin: 1vh 2vw;
    
    }
    
    .row-container:last-of-type{
        margin-bottom: 5vh;
    }
    
    .info-container {
        width: 75%; 
        justify-content: center;
        align-items: center;
        text-align:start;
        margin: 2vw;
    }
    
    .img img{
        height: 100px;

    }
    
    
    .info-container h2 {
        margin: 0.2vh 0;
        font-size: 11pt;
    }
    
    .info-container h3{
        font-size: 7pt;
    }

    .img img:hover, .info-container h2:hover, .info-container h3:hover{
        transform: scale(1.04); /* Aumenta el tamaño del ícono */
        filter: brightness(1.5); /* Aumenta el brillo del ícono */
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    }
    
    
    /* LINKS FOOTER CONTAINER */
    .linqsContainer {
        display: flex;
        flex-direction: column;
        justify-content:stretch;
        font-size: 15px;
    }
    /* LINKS DIV */
    .links {
        padding-bottom: 3px;
        font-size: 13px;
    }
    /* TEXTO DE FOOTER GAME */
    .presentation p{
        font-size: 12px;
    }
    /* DEVELOPERS FONTSIZE */
    .devs{
        font-size: 8px;
    }
    /* CHECKBOX IDIOMA CHECK::AFTER */
    .check::after {
        width: 17px;
        margin-top: 2px;
        height: 12px;
    }
    /* TEXTO INPUT CHECK IDIOMA */
    .lang span {
        font-size: 12px;
    }    
}


/* CHECKBOX IDIOMA */
/* INPUT CHECK IDIOMA */
.lang{
    float: right;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}
.check{
    position: relative;
    width: 50px;
    background-color: black;
}
.check::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 16px;
    border-radius: 25px;
    background-color: black;
}
.check::after{
    content: '';
    position: absolute;
    margin-top: .5px;
    margin-left: 1px;
    width: 19px;
    height: 14px;
    background-color: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 1px solid white;
    box-sizing: border-box;
}
.check:checked::after{
    left: 30px;
}
.check:checked::before{
    
    background-color:  black;
}
.lang{
    margin-right: 10px;
    position: fixed;
    z-index: 10;
    right: 0;
}
.lang span{
    font-size: 17px;
}
