*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: black;
}

header{
    height: 10%;
    position: absolute; /* Cambia la posición a absoluta */
    width: 100%; /* Ajusta el ancho al 100% */
    top: 0;
    background: transparent; /* Establece el fondo del header como transparente */
    z-index: 1; /* Asegura que el header esté en la parte superior */
}

/*Menú por defecto*/
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;/*con respecto al eje principal, que es la fila(horizontal)*/
    align-items: center; /*con respecto al eje secundario, que es la columna(vartical)*/
    padding: 0px 20px; /* Ajusta el espacio desde los bordes derecho e izquierdo */
}

.navbar-menu {
    background: transparent; /* Hace que el fondo del navbar sea transparente */
}

#nav-links{
    display: flex;
    /*Ubicamos los li*/
    gap: 30px; /*defino el tamano de los huecos entre los items*/
    list-style: none;
}

#nav-links li{
    transition: transform 0.2s ease, filter 0.2s ease; /* Separar la transición para transform y filter */
    border-bottom: 1px solid transparent;

}

#nav-links li:hover{
    color: #ffffff; /* Cambia el color del ícono al pasar el ratón por encima */
    text-decoration: none; /* Elimina el subrayado del ícono al pasar el ratón por encima */
    transform: scale(1.05); /* Aumenta el tamaño del ícono */
    filter: brightness(10); /* Aumenta el brillo del ícono */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
    outline: 1px solid transparent; /* Agrega un contorno adicional */

}

#nav-links li a{
    text-decoration: none;
    color: rgb(223, 222, 222);
    font-family: "Bebas Neue", sans-serif;
    font-size: 130%;
    font-weight: 300; /* Ajusta el grosor de la fuente a 300 (más delgada) o a tu preferencia */
}



/*Home Section*/

#home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 0 5% 0; 
    position: relative; /* Cambia la posición a relativa */
    z-index: 0; /* Ajusta el índice z para que la sección #home esté detrás del header */


    background-image: url(Assets/img/Background.jpg);
    background-size: auto 150%; /* Ajusta el tamaño de la imagen de fondo al 130% del tamaño del contenedor */
    background-position: center top; /* Centra la imagen de fondo horizontalmente y la coloca en la parte inferior del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    padding-bottom: 100px;
}

.home-Title{
    margin-top: 30vh; /* Ajusta según sea necesario */
    padding: 10vh 0;
}

.home-Title a{
    display: inline-block;
    margin: 0;
    padding: 0;
    scale: 100%;
    filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

}

.home-Title a img{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; /* Ajusta la anchura de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-width: 100%; /* Evita que la imagen se extienda más allá de su tamaño original */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.372)); /* Utiliza drop-shadow para aplicar el sombreado */
    padding: 0;
    margin: 0;
}

.in-dev-container{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow( 0px 1px 3px  rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

}

.in-dev{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 280%;
    font-weight: 10;
    font-style: italic;
    color: #ededed;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
}

.arrows-down{
    font-size: 2vw;
    color: #ededed;
    text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
    bottom: 0; /* Alinea el contenedor en la parte inferior */
    transform: translateY(210%); 
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    animation: Down 2.2s infinite;
}

@keyframes Down {
    0%{
        transform: translateY(210%);
    }

    50%{
        transform: translateY(235%);
    }

    100%{
        transform: translateY(210%);
    }
}

.presentation {
    background-color: black;
    padding: 10vh 20vw;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
    outline: 1px solid transparent; /* Agrega un contorno adicional */
}

.presentation h3{
    color: #dfdede;
    font-family: "Bebas Neue", sans-serif;
    font-size: 200%;
    font-weight: 200;
    font-style: italic;
    text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
    text-align: center;
    transition: transform 3s ease, filter 0.3s ease;
}

.presentation h3:hover{
    transform: scale(1.05); /* Aumenta el tamaño del ícono */
    filter: brightness(10); /* Aumenta el brillo del ícono */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.687); /* Agrega un efecto de sombra al texto para que brille */

}

.info {
    display: flex;
    flex-direction: column;
    background: url(/Assets/img/Night.jpg);
    background-size: cover;
    padding: 20vh 5vw 10vh; /* Utilizando porcentajes para el relleno */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #bababa;
    font-family: "Bebas Neue", sans-serif;
}

.info-container {
    width: 75%; 
    margin-bottom: 20vh;
}

.info-container h1, .info-container h2 {
    padding: 0;
    margin: 0;
    color: #dfdede; /* Color de título personalizado */
}

.info-container h1 {
    font-size: 5vw;
}

.info-container p {
    line-height: 1.6; /* Espaciado de línea aumentado */
    font-size: 2vw;
}

#img-and-row{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

#gif {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0vw 0vh 1vw  rgba(0, 32, 139, 0.575)); /* Utiliza drop-shadow para aplicar el sombreado */
    padding: 0;
    margin: 0 0 5vh 0;
}

#gif video{
    
    width: 80vw;
    height: auto;
    filter: drop-shadow(0vw 0vh 1vw  rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    
}

.row-container{
    display: flex;
    flex-direction: row;
    align-items:flex-start; /*Al estar los elementos puestos en fila, align-items y justify-content invierten sus funciones*/
    justify-content: center;

    padding: 0;
    margin: 5vh 2vw;

}

.row-container .info-container h2 {
    font-size: 3vw;
}

.row-container .info-container p, .info-container p:last-of-type{
    margin: 0.5vh 2.5vw 0; /* Espacio entre párrafos */
    font-size: 1.8vw;
    font-style: oblique;

}




/*Footer*/

footer{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
    outline: 1px solid transparent; /* Agrega un contorno adicional */
}

.redes{
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
    display: flex; /* Hace que los elementos de la lista se muestren en línea */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.redes li{
    margin: 0 15%; /* Añade espacio entre los elementos de la lista */

}

.redes li a {
    text-decoration: none; /* Elimina la decoración del texto del enlace */
}

.redes li a i{
    transition: transform 0.3s ease, filter 0.3s ease;
    color: #727272;
    font-size: 200%;
}

.redes a:hover i {
    color: #ffffff; /* Cambia el color del ícono al pasar el ratón por encima */
    text-decoration: none; /* Elimina el subrayado del ícono al pasar el ratón por encima */
    transform: scale(1.2); /* Aumenta el tamaño del ícono */
    filter: brightness(10); /* Aumenta el brillo del ícono */
}

/*Menú desplegable (para mobile)*/

.menu-toggle, #menu-icon{
    display: none; /* Por defecto, oculta el botón del menú */
}

@media screen and (max-width: 1900px) {

    /* Ajustes para las imágenes */
    img {
        max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
        max-height: 90vh; /* Ajusta la altura automáticamente */
    }

    /* Ajustes para los backgrounds */
    body {
        background-size: cover; /* Ajusta el tamaño del fondo para cubrir completamente el contenedor */
        background-position: center; /* Centra el fondo */
    }

    .menu-container {
        position: absolute;
        display: flex; /* Ajusta el diseño para dispositivos móviles */
        justify-content: space-between; /* Distribuye los elementos horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
        padding: 10px; /* Ajusta el espacio alrededor del menú */
    }
    
    .menu-container::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(9, 9, 9, 0.215); /* Fondo semitransparente */
        backdrop-filter: blur(5px); /* Aplica un filtro de desenfoque */
        z-index: -1; /* Coloca el fondo borroso detrás del menú */
        pointer-events: none; /* Permite que los eventos pasen a través del pseudo-elemento */
        opacity: 0; /* Inicialmente oculta el fondo borroso */
        transition: opacity 0.3s ease; /* Agrega una transición suave para la opacidad */
    }
    
    .menu-container.active::before {
        opacity: 1; /* Muestra el fondo borroso cuando el menú está activo */
    }

    /* Agregar estilo para deshabilitar el scroll cuando el menú está activado */
    body.menu-open {
        overflow: hidden;
    }


    /* Overlay para el área del menú */
    .menu-toggle {
        display: inline-block;
        scale: 250%;
        position: absolute;
        cursor: pointer; /* Cambia el cursor a un puntero al pasar el ratón por encima */
        text-decoration: none;
        margin: 10vh 0 0 0;
        padding: 20% 100%;
        color: #dfdede;
        transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease; /* Agrega la propiedad box-shadow a la transición*/
        z-index: 1000; /* Asegura que el icono del menú esté en una capa superior */
    }

    .menu-toggle:hover {
        transform: scale(1.2); /* Aumenta el tamaño del ícono */
        filter: brightness(3); /* Aumenta el brillo del ícono */
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) brightness(120%); /* Aplica un filtro de sombra suave y un filtro de brillo al ícono */
    }

    #menu-icon{
        display: inline-block;
    }

    .navbar-menu {
        display: none; /* Por defecto, oculta el menú en dispositivos móviles */
        position: fixed;
        z-index: 1000; /* Asegura que el menú esté en una capa superior */
        top: 12%;
        left: 20px; /* Ajuste para que el menú esté pegado al borde izquierdo */
        background: transparent; /* Cambia el color de fondo del menú desplegable a transparente */
        width: 100%;
        padding: 0;
        margin: 0;
        transition: opacity 0.3s ease; /* Agrega una transición de opacidad */
        opacity: 0; /* Inicialmente establece la opacidad en 0 para ocultar el menú */
    }
    
    .navbar-menu.active {
        display: flex; /* Muestra el menú cuando la clase 'active' está presente */
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos del menú a la izquierda */
        opacity: 1; /* Hace que el menú sea visible al activar la clase 'active' */
        padding: 0;
        margin: 0;
    }
    
    
    /* Estilos para los ítems del menú */
    #nav-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0; /* Restablece cualquier margen previo */
    }
    
    #nav-links li {
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
        text-align: justify;
        border-bottom: 1px solid #dfdede; /* Línea divisoria entre elementos li */
        outline: 1px solid transparent; /* Agrega un contorno adicional */
        filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
        margin: -10px 0; /* Establece un margen vertical negativo */
        padding: 0 0 10px 0; /* Ajusta el padding */
        text-align: start;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

   

    #nav-links li:last-child {
        margin-bottom: -1px; /* Márgenes negativos para superponer la línea divisoria */

    }
    
    
    .navbar-menu.active #nav-links li {
        opacity: 1; /* Hace que los ítems sean visibles al activar la clase 'active' en el menú */
        transform: translateX(20px); /* Restaura la posición original de los ítems */
    }
    
    /* Animación de aparición de los ítems del menú */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    #nav-links li a{
        font-size: 200%;
    }

    #home{
        background-image: none;
        background-image: url(/Assets/img/Movie\ Poster.jpg);
        background-size: cover;
    }

    .home-Title, .home-Title a, .home-Title img{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0 0 10vh 0;
        margin-top: 12vh;
    }

    .home-Title a{
        scale: 95%;    
    }

    .home-Title a img{
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

    }

    .in-dev-container{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: inherit;
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

    }

    .in-dev{
        justify-content: center;
        text-align: center;
        display: flex;
        position: inherit;
        font-size: 9vw;
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

    }

    .arrows-down{
        font-size: 300%;
        padding: 0;
        margin: 0;
        transform: translateY(300%); 
    }

    @keyframes Down {
        0%{
            transform: translateY(300%);
        }

        50%{
            transform: translateY(320%);
        }

        100%{
            transform: translateY(300%);
        }
    }

    
    .presentation {
        padding: 50vh 5vw;
    }

    .presentation h3{
        font-size: 200%;
        font-weight: 100;
    }

    .info{
        padding: 10vh 0;
        justify-content: center;
        text-align: center;
    }

    .info-container{
        padding: 0;
        margin: 10% 0;
    }

    .info-container h1, .info-container h2{
        padding: 1.1vh 0;
        margin: 0;
        text-align: center;
    }



    .info-container h1{
        font-size: 12vw;
    }

    
    .info-container p{
        font-size: x-large;
        font-style: oblique;
        padding: 0 5vw;
        margin: 0;
    }
    
    #img-and-row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    #gif {
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0vw 0vh 5vw  rgba(0, 32, 139, 0.575)); /* Utiliza drop-shadow para aplicar el sombreado */
        padding: 0;
        margin: 0 0 5vh 0;
    }
    
    #gif video{
        width: 100vw;
        height: auto;
        filter: drop-shadow(0vw 0vh 5vw  rgba(255, 255, 255, 0.486)); /* Utiliza drop-shadow para aplicar el sombreado */
    }
    
    .row-container{
        flex-direction: column;
        align-items:center; 
        margin: 0.1vh 0vw;
    }
    
    .row-container .info-container h2{
        font-size: 9vw;
    }
    
   
    
    .row-container .info-container p, .info-container p:last-of-type {
        margin: 0.5vh 2.5vw 0; /* Espacio entre párrafos */
        font-size: 6vw;
        font-style: oblique;
    
    }
    

    footer{
        display: flex;
        height: 10vh;
        justify-content: center;
        align-items: center;

    }

    .redes {
        justify-content: center;
        align-items: center;
        margin: 2vh 0;
    }

    .redes li a i{
        scale: 100%;
    }
    
}


@media screen and (min-width: 2000px) {

    #nav-links li a{
        font-size: 200%;
    }

    #home{
        background: none;
        background: url(/Assets/img/Window\ grey.png);
        background-size: 110%;
        background-position-x: 70%;
    }

    .home-Title{
        padding-top: 0;
    }

    .home-Title a{
        padding-top: 0;
        margin-top: 0;
        scale: 150%;
        transform: translateY(-10%);
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    }

    .home-Title a img{
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

    }

    .in-dev-container{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: inherit;
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
        transform: translateY(130%);
    }

    .in-dev{
        justify-content: center;
        text-align: center;
        display: flex;
        position: inherit;
        font-size: 3vw;
        filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */

    }

    .arrows-down{
        transform: translateY(480%); 
    }

    @keyframes Down {
        0%{
            transform: translateY(480%);
        }

        50%{
            transform: translateY(500%);
        }

        100%{
            transform: translateY(480%);
        }
    }

    .presentation{
        border-top: 0.5px solid transparent;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
        filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
        outline: 1px solid transparent; /* Agrega un contorno adicional */    
    }


}

/*Para pantallas móviles especiales*/
@media screen and (max-width: 400px) {
    .arrows-down{
        transform: translateY(480%); 
    }

    @keyframes Down {
        0%{
            transform: translateY(200%);
        }

        50%{
            transform: translateY(230%);
        }

        100%{
            transform: translateY(200%);
        }
    }
}





