    /* URL FUENTE DE TEXTO */
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+25&family=Oswald:wght@200..700&display=swap');
    /* FUENTE TEXTO */
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    /* RESETEO */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    ::-webkit-scrollbar {
        display: none; 
    }
    /* TOP SECTION */
        /* NAV */
            .topSection {
                height: fit-content;
                background-color: black;
                color: white;
                font-family: Bebas Neue;
            }
            .navG{
                position: fixed;
                z-index: 10;
            }
            .navG-container{
                padding: 4px;
            }
            .navG-content{
                display: flex;
                align-items: center;
            }
            .navG-content a{
                display: flex;
                align-items: center;
                gap: 0 8px;
                text-decoration: none;
                color: white;
            }
            .navG-content i{
                margin-top: -2px;
                font-size: 20px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .navG-content i {
                        font-size: 12px;
                        margin-top: -1.6px;
                    }
                }
            .navG-content a p{
                font-size: 17px;
                padding-right: 4px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .navG-content a p {
                        font-size: 12px;
                    }
                }
            .navG-content a:hover p{
                transform: scale(1.1);
                transition-duration: 0s;
                filter: brightness(150%);
            }
            .navG-content p{
                font-size: 17px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .navG-content p {
                        font-size: 12px;
                    }
                }
        /* VIDEO */
            .videoG-container{
                height: auto;
                margin: 0 auto;
                width: 100%;
                text-align: center;
            }
            .videoG-container video{
                height: 100vh;
                width: auto;
                margin-left: auto;
                margin-right: auto;
                border-bottom-left-radius: 8px; 
                border-bottom-right-radius: 8px;
            }
            /* query lg: */
                @media (max-width: 1024px) {
                    .videoG-container video {
                        height: auto;
                        width: 100%;
                    }
                }
        /* LINKS LATERALES */
            .linksLatG{
                display: flex;
                top: 0%;
                bottom: 0%;
                right: 0%;
                align-items: center;
                justify-content: center;
                z-index: 10;
            }
            .linksLatG ul{
                display: flex;
                gap: 4px 16px;
                margin-top: 20px;
                margin-right: 16px;
                list-style: none;
            }
            .linksLatG ul li{
                text-align: center;
                padding: 4px 0;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .linksLatG ul li {
                        padding: 0px 0;
                    }
                }
            .linksLatG li a{
                text-decoration: none;
                color: white;
            }
            .linksLatG ul li a i{
                font-size: 20px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .linksLatG ul li a i {
                        font-size: 12px;
                    }
                }
            a:hover i {
                color: #ffffff;
                text-decoration: none;
                transform: scale(1.2);
                filter: brightness(10);
            }
            .links a p:hover {
                transform: scale(1.1);
                transition-duration: 0s;
                filter: brightness(150%);
            }
            /* ARROWS DOWN */
            .arrows-down{
                position: absolute;
                z-index: 50;
                margin-right: 10px;
                right: 0;
                top: 45vh;
                font-size: 20px;
                color: #ededed;
                text-rendering: optimizeLegibility;
                transform: translateY(210%); 
                text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
                animation: Down 2.2s infinite;
            }
            @keyframes Down {
                0%{
                    transform: translateY(210%);
                }
            
                50%{
                    transform: translateY(235%);
                }
            
                100%{
                    transform: translateY(210%);
                }
            }
    /* MID SECTION */
        .midSection {
            background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%),
            linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 30%),
            linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%), 
            url('../Assets/img/galeriaMidSection.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            color: white;
            padding-bottom: 80px;
            font-family: Bebas Neue;
        }
            /* query sm: */
            @media (max-width: 640px) {
                .midSection {
                    padding-bottom: 20px;
                }
            }
        /* 1st */
            .container1st{
                display: flex;
                flex-direction: column;
                padding-top: 80px;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                align-items: center;
                justify-content: center;
                column-gap: 90px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .container1st{
                        padding-top: 40px;
                    }
                }
            .container1st-container{
                height: fit-content;
            }
            .imgCartelContainer{
                margin-left: auto;
                margin-right: auto;
                max-width: 300px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .imgCartelContainer {
                        max-width: 150px;
                    }
                }
            .container1st-container div img{
                padding-bottom: 40px;
                width: 100%;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .container1st-container div img {
                        padding-bottom: 20px;
                        width: 100%;
                    }
                }
            .container1st-container p {
                max-width: 480px;
                font-size: 21px;
                text-align: center;
                padding-bottom: 24px;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .container1st-container p {
                        font-size: 11px;
                    }
                }
            .imgContainer1st{
                width: 100%;
            }
            .imgContainer1st img{
                border-radius: 6px;
                width: 100%;
            }
        /* SEPARADOR */
            .sep{
                display: none;
                margin-top: 20px;
            }
                /* query md:*/
                @media (max-width: 768px) {
                    .sep {
                        display: block;
                        text-align: center;
                    }   
                }
        /* 2nd */
            .container2nd{
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                column-gap: 90px;
                margin-top: 100px;
            }
                /* query md:*/
                @media (max-width: 768px) {
                    .container2nd {
                        display: grid;
                        grid-template-columns: 1fr;
                        row-gap: 10px;
                        margin-top: 10px;
                    }   
                }
            .cont2ndImg{
                padding-bottom: 0%;
                width: 100%;
            }
                /* query md:*/
                @media (max-width: 768px) {
                    .cont2ndImg {
                        width: 100%;
                        padding-bottom: 20px;
                    }   
                }
            .cont2ndImg img{
                border-radius: 6px;
                width: 100%;
            }
            .cont2ndTxt{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .cont2ndTxt p{
                max-width: 480px;
                font-size: 21px;
                text-align: center;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .cont2ndTxt p {
                        font-size: 11px;
                    }
                }
        /* 3rd */
            .container3rd{
                margin-left: auto;
                margin-right: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 90px;
                margin-top: 100px;
                width: 80%;
            }
                /* query md:*/
                @media (max-width: 768px) {
                    .container3rd {
                        margin-top: 20px;
                        display: grid;
                        grid-template-columns: 1fr;
                    }   
                }
            .cont3rdImg{
                order: 2;
                padding-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                max-width: 500px;
            }
                /* query md:*/
                @media (max-width: 768px) {
                    .cont3rdImg {
                        order: -1;
                        width: 100%;
                        padding-bottom: 20px;
                    }   
                }
            .cont3rdImg img{
                border-radius: 6px;
                width: 100%;
            }
            .cont3rdImgTxt{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .cont3rdImgTxt p{
                max-width: 480px;
                font-size: 21px;
                text-align: center;
            }
                /* query sm: */
                @media (max-width: 640px) {
                    .cont3rdImgTxt p {
                        font-size: 11px;
                    }
                }
    /* BOTTOM SECTION */
        .bottomSection{
            background-color: black;
            font-family: Bebas Neue;
        }
        .bottomGridContainer{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 48px 0;
        }      
        .bottomGridContainer-content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;
            margin-left: auto;
            margin-right: auto;
        }
            /* query sm: */
            @media (max-width: 640px) {
                .bottomGridContainer-content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        .bottomGridContainer-content div{
            width: 100%;
        }
        .bottomGridContainer-content div:hover{
            opacity: 0.5;
        }
        .imgGrid{
            object-fit: cover;
            border-radius: 6px;
            cursor: pointer;
            width: 100%;
        }
        /* LIGHTBOX */
        .lightbox {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 999;
        }
        .lightbox div{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .lightbox img {
            display: block;
            margin:  0 auto;
            max-width: 92%;
            max-height: 92%;
        }
            /* query sm: */
            @media (max-width: 640px) {
                .lightbox img{
                    margin-top: 20%;
                }
            }
        #cerrarLightbox {
            margin: 0 auto;
            position: relative;
            top: 10px;
            right: 10px;
            padding: 0px 10px;
            color: black;
            background-color: white;
            border-radius: 5px;
            font-family: Bebas Neue;
            cursor: pointer;
        }
    /* FOOTER */
        footer{
            background-color: black;
            color: white;
        }
        .presentation {
            background-color: black;
            padding: 2vh 20vw;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
            filter: brightness(1.5); 
            outline: 1px solid transparent;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            font-family: Bebas Neue;
        }
        .footerContainer{
            display: flex;
            justify-content: space-between;
            font-size: 17px;
        }
        .footerContainer img{
            max-width: 100px;
        }
        .linqsContainer{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 8px;
        }
            /* query sm: */
            @media (max-width: 640px) {
                .linqsContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content:stretch;
                    font-size: 15px;
                }
            }
            /* query md:*/
            @media (max-width: 768px) {
                .linqsContainer {
                    display: flex;
                    flex-direction: column;
                }
            }
        .links{
            padding-top: 4px;
        }
            /* query sm: */
            @media (max-width: 640px) {
                .links {
                    padding-bottom: 3px;
                    font-size: 13px;
                }
            }
        .links a{
            color: white;
        }
        .presentation p{
            font-size: 17px;
            margin-top: 4px;
            margin-left: 4px;
        }
            /* query sm: */
            @media (max-width: 640px) {
                .presentation p{
                    font-size: 12px;
                }
            }
        /* DEVELOPERS */
        .devs{
            background-color: black;
            width: fit-content;
            padding: 8px 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 10px;
            text-align: center;
            color: #DFDED040;
            font-family: sans-serif !important;
        }
        .devs p{
            width: fit-content;
            margin: 0 auto;
        }
        .devs p:hover{
            color: white;
        }
        .devs a{
            color: #0000EE;
            font-weight: bold;
        }
        .devs a:hover{
            text-decoration: underline;
        }
        /* query sm: */
        @media (max-width: 640px) {
            .devs{
                font-size: 8px;
            }
        }
