body{
background-image: url(../sources/guns.jpg) ;  
}



/*Menú por defecto*/
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;/*con respecto al eje principal, que es la fila(horizontal)*/
    align-items: center; /*con respecto al eje secundario, que es la columna(vartical)*/
    padding: 0px 20px; /* Ajusta el espacio desde los bordes derecho e izquierdo */
}

.navbar-menu {
    background: transparent; /* Hace que el fondo del navbar sea transparente */
}

#nav-links{
    display: flex;
    /*Ubicamos los li*/
    gap: 30px; /*defino el tamano de los huecos entre los items*/
    list-style: none;
}

#nav-links li{
    transition: transform 0.2s ease, filter 0.2s ease; /* Separar la transición para transform y filter */
    border-bottom: 1px solid transparent;

}

#nav-links li:hover{
    color: #ffffff; /* Cambia el color del ícono al pasar el ratón por encima */
    text-decoration: none; /* Elimina el subrayado del ícono al pasar el ratón por encima */
    transform: scale(1.05); /* Aumenta el tamaño del ícono */
    filter: brightness(10); /* Aumenta el brillo del ícono */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
    outline: 1px solid transparent; /* Agrega un contorno adicional */

}

#nav-links li a{
    text-decoration: none;
    color: rgb(223, 222, 222);
    font-family: "Bebas Neue", sans-serif;
    font-size: 130%;
    font-weight: 300; /* Ajusta el grosor de la fuente a 300 (más delgada) o a tu preferencia */
}





.Formu{

    color: white;
    font-size: 20px;
    
    padding: 150px;
    margin: 50px;
    align-content: center;

}

.title{
    align-items: center;
    color: white;
}

