*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: black;
}




/*HEADER*/
header{
    height: 10%;
    position: absolute; /* Cambia la posición a absoluta */
    width: 100%; /* Ajusta el ancho al 100% */
    top: 0;
    background: transparent; /* Establece el fondo del header como transparente */
    z-index: 1; /* Asegura que el header esté en la parte superior */
}

/*Menú por defecto*/
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;/*con respecto al eje principal, que es la fila(horizontal)*/
    align-items: center; /*con respecto al eje secundario, que es la columna(vartical)*/
    padding: 0px 20px; /* Ajusta el espacio desde los bordes derecho e izquierdo */
}

.navbar-menu {
    background: transparent; /* Hace que el fondo del navbar sea transparente */
}

#nav-links{
    display: flex;
    /*Ubicamos los li*/
    gap: 30px; /*defino el tamano de los huecos entre los items*/
    list-style: none;
}

#nav-links li{
    transition: transform 0.2s ease, filter 0.2s ease; /* Separar la transición para transform y filter */
    border-bottom: 1px solid transparent;

}

#nav-links li:hover{
    color: #ffffff; /* Cambia el color del ícono al pasar el ratón por encima */
    text-decoration: none; /* Elimina el subrayado del ícono al pasar el ratón por encima */
    transform: scale(1.05); /* Aumenta el tamaño del ícono */
    filter: brightness(10); /* Aumenta el brillo del ícono */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); /* Ajusta el brillo según sea necesario */
    outline: 1px solid transparent; /* Agrega un contorno adicional */

}

#nav-links li a{
    text-decoration: none;
    color: rgb(223, 222, 222);
    font-family: "Bebas Neue", sans-serif;
    font-size: 130%;
    font-weight: 300; /* Ajusta el grosor de la fuente a 300 (más delgada) o a tu preferencia */
}


/*MAIN*/
main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 5% 0; 
    padding-bottom: 100px;
    margin-bottom: 100vh;    
    
}

.home-Title{
    padding: 15vh 0 10vh 0;
}

.home-Title a{
    display: inline-block;
    margin: 0;
    padding: 0;
    scale: 100%;
    filter: drop-shadow(10px 10px 20px rgba(145, 145, 145, 0.248)); /* Utiliza drop-shadow para aplicar el sombreado */
}

.home-Title a img{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 100%; /* Ajusta la anchura de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-width: 100%; /* Evita que la imagen se extienda más allá de su tamaño original */
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.372)); /* Utiliza drop-shadow para aplicar el sombreado */
    padding: 0;
    padding-bottom: 4vh;
    margin: 0;
}


.in-dev-container{
    padding-bottom: 1vh;
    text-shadow: 0 0 5px rgba(72, 72, 72, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow( 0px 1px 3px  rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); 
    outline: 1px solid transparent;


}

.in-dev{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 280%;
    font-weight: 10;
    color: #e1e1e1;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Agrega un efecto de sombra al texto para que brille */
    filter: drop-shadow(10px 10px 20px rgb(0, 0, 0)); /* Utiliza drop-shadow para aplicar el sombreado */
    text-rendering: optimizeLegibility; /* Hace que el texto se vea más suave y legible */
    
}









/* FOOTER */
footer{
    background-color: black;
    color: white;

}
.footerPresentation {
    background-color: black;
    padding: 2vh 20vw;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 255, 255, 0), #dfdede, rgba(255, 255, 255, 0)) 2 stretch;
    filter: brightness(1.5); 
    outline: 1px solid transparent;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: Bebas Neue;
}
.footerContainer{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.footerContainer img{
    max-width: 100px;
}
.linqsContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
}
.links{
    padding-top: 4px;
}
.links a{
    color: white;
}

.linksLatG{
    display: flex;
    top: 0%;
    bottom: 0%;
    right: 0%;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.linksLatG ul{
    display: flex;
    gap: 4px 16px;
    margin-top: 20px;
    margin-right: 16px;
    list-style: none;
}
.linksLatG ul li{
    text-align: center;
    padding: 4px 0;
}
.linksLatG li a{
    text-decoration: none;
    color: white;
}
.linksLatG ul li a i{
    font-size: 20px;
}
a:hover i {
    color: #ffffff;
    text-decoration: none;
    transform: scale(1.2);
    filter: brightness(10);
}
.links a p:hover {
    transform: scale(1.1);
    transition-duration: 0s;
    filter: brightness(150%);
}


.footerPresentation p{
    font-size: 17px;
    margin-top: 4px;
    margin-left: 4px;
}
/* DEVELOPERS */
.devs{
    background-color: black;
    width: fit-content;
    padding: 8px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    text-align: center;
    color: #DFDED040;
    font-family: sans-serif !important;
}
.devs p{
    width: fit-content;
    margin: 0 auto;
}
.devs p:hover{
    color: white;
}
.devs a{
    color: #0000EE;
    font-weight: bold;
}
.devs a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1900px) {
    /* LINKS FOOTER CONTAINER */
    .linqsContainer {
        display: flex;
        flex-direction: column;
        justify-content:stretch;
        font-size: 15px;
    }
    /* LINKS DIV */
    .links {
        padding-bottom: 3px;
        font-size: 13px;
    }
    /* TEXTO DE FOOTER GAME */
    .presentation p{
        font-size: 12px;
    }
    /* DEVELOPERS FONTSIZE */
    .devs{
        font-size: 8px;
    }
    /* CHECKBOX IDIOMA CHECK::AFTER */
    .check::after {
        width: 17px;
        margin-top: 2px;
        height: 12px;
    }
    /* TEXTO INPUT CHECK IDIOMA */
    .lang span {
        font-size: 12px;
    }    
}
